In [ ]:
import pandas as pd
a=[1,7,2]
b=pd.Series(a,index=["x","y","z"])
print(b)
print(b["y"])

x     7
y    10
z     5
dtype: int64
10

In [7]:
calories ={
    "day1": 420,
    "day2": 380,
    "day3": 390
}

bb=pd.Series(calories)
print(bb)

day1    420
day2    380
day3    390
dtype: int64

In [9]:
data={
    "calories":[420,380,390],
    "duration":[50,45,30]
}
b=pd.DataFrame(data)
print(b)
print(b.loc[0])

   calories  duration
0       420        50
1       380        45
2       390        30
calories    420
duration     50
Name: 0, dtype: int64

In [ ]:
long=["India","Cameroon","Niger","Jordan","Mauritania"]

b=pd.DataFrame(long)

num=["2","4","3","5","3"]
b[1]=num


print(b)

            0  1
0       India  2
1    Cameroon  4
2       Niger  3
3      Jordan  5
4  Mauritania  3

In [19]:
data=[{'a':1, 'b':2}, {'a':5, 'b':10,'c':20}]

df = pd.DataFrame(data)
df2 = pd.DataFrame(data,index=['row1','raw2'],columns=['a','b'])
df3 = pd.DataFrame(data,index=['row1','raw2'],columns=['a','b','c'])
df4 = pd.DataFrame(data,index=['row1','raw2'],columns=['a','b','c','d'])

print(df)
print("--------------------------------")
print(df2)
print("--------------------------------")
print(df3)
print("--------------------------------")
print(df4)

   a   b     c
0  1   2   NaN
1  5  10  20.0
--------------------------------
      a   b
row1  1   2
raw2  5  10
--------------------------------
      a   b     c
row1  1   2   NaN
raw2  5  10  20.0
--------------------------------
      a   b     c   d
row1  1   2   NaN NaN
raw2  5  10  20.0 NaN

In [20]:
dict={'a':pd.Series([1,2,3,],index=['a','b','c']),
     'b':pd.Series([1,2,3,4],index=['a','b','c','d']) }

df=pd.DataFrame(dict)

print(df)

     a  b
a  1.0  1
b  2.0  2
c  3.0  3
d  NaN  4

In [21]:
###########tp2#######################################
e={
    "a":100,
    "b":200,
    "c":300,
    "d":400,
    "e":800,
}
ee=pd.Series(e)
print(ee)

a    100
b    200
c    300
d    400
e    800
dtype: int64