In [3]:
import pandas as pd

l1=[1,2,3,4,5]
l2=[2,4,6,8,10]
print(list(set(l1)^set(l2)))
print(list(set(l1).symmetric_difference(set(l2))))
# ex 2
# t=pd.Series()

[1, 3, 5, 6, 8, 10]
[1, 3, 5, 6, 8, 10]

In [35]:
#ex3 
import numpy as np
s=pd.Series([1,5,8,15,9,7,1,1,1])
res=np.where(s%5==0)
print(res)
print(res[0])
print(res[0].tolist())

(array([1, 3], dtype=int64),)
[1 3]
[1, 3]

In [49]:
#ex5
df=pd.DataFrame(
    np.random.randn(5,3),
    columns=['A','B','C'],
    index=['a','b','c','d','e']
)
# print(df)
s=pd.Series(df.iloc[:,0])
print(s)

a   -1.114146
b    0.216803
c    0.048510
d    0.613782
e   -1.022039
Name: A, dtype: float64

In [45]:
s["f"]="5"
print(s)

a    0.434545
b    0.714768
c   -0.553034
d    -1.39066
e    0.565438
f           5
Name: A, dtype: object

In [47]:
s.index=['5','1','4','0','5','7']
print(s)

5    0.434545
1    0.714768
4   -0.553034
0    -1.39066
5    0.565438
7           5
Name: A, dtype: object

In [ ]:
dates = pd.date_range(start='2020-01-01', end='2020-12-31',freq= 'W-SUN')
# print(dates)
dates = pd.date_range(start='2020-01-01',periods=48,freq='W-SUN')
print(dates)

DatetimeIndex(['2020-01-05', '2020-01-12', '2020-01-19', '2020-01-26',
               '2020-02-02', '2020-02-09', '2020-02-16', '2020-02-23',
               '2020-03-01', '2020-03-08', '2020-03-15', '2020-03-22',
               '2020-03-29', '2020-04-05', '2020-04-12', '2020-04-19',
               '2020-04-26', '2020-05-03', '2020-05-10', '2020-05-17',
               '2020-05-24', '2020-05-31', '2020-06-07', '2020-06-14',
               '2020-06-21', '2020-06-28', '2020-07-05', '2020-07-12',
               '2020-07-19', '2020-07-26', '2020-08-02', '2020-08-09',
               '2020-08-16', '2020-08-23', '2020-08-30', '2020-09-06',
               '2020-09-13', '2020-09-20', '2020-09-27', '2020-10-04',
               '2020-10-11', '2020-10-18', '2020-10-25', '2020-11-01',
               '2020-11-08', '2020-11-15', '2020-11-22', '2020-11-29',
               '2020-12-06', '2020-12-13', '2020-12-20', '2020-12-27'],
              dtype='datetime64[ns]', freq='W-SUN')
DatetimeIndex(['2020-01-05', '2020-01-12', '2020-01-19', '2020-01-26',
               '2020-02-02', '2020-02-09', '2020-02-16', '2020-02-23',
               '2020-03-01', '2020-03-08', '2020-03-15', '2020-03-22',
               '2020-03-29', '2020-04-05', '2020-04-12', '2020-04-19',
               '2020-04-26', '2020-05-03', '2020-05-10', '2020-05-17',
               '2020-05-24', '2020-05-31', '2020-06-07', '2020-06-14',
               '2020-06-21', '2020-06-28', '2020-07-05', '2020-07-12',
               '2020-07-19', '2020-07-26', '2020-08-02', '2020-08-09',
               '2020-08-16', '2020-08-23', '2020-08-30', '2020-09-06',
               '2020-09-13', '2020-09-20', '2020-09-27', '2020-10-04',
               '2020-10-11', '2020-10-18', '2020-10-25', '2020-11-01',
               '2020-11-08', '2020-11-15', '2020-11-22', '2020-11-29'],
              dtype='datetime64[ns]', freq='W-SUN')

In [ ]:
df=pd.DataFrame(
    columns=['nom','age','ville','salaire']
)
# print(df)
df.loc[0]=['John',25,'Paris',5000]
df.loc[1]=['bob',30,'Paris',2000]
df.loc[2]=['clara',22,'Paris',5000]
df.loc[3]=['david',28,'Paris',5000]
print(df)
print(df.iloc[0:2])
print("la moyenne du salaire est : ",np.sum(df["salaire"].tolist())/len(df))
print(df.iloc[0:4])
print(df.dtypes)
print("les personnes qui ont un salaire >3500")
print(df[(df["salaire"]>3500)])
df["prime"]=df["salaire"]*(5/100)
print(df)

df.loc[df["nom"]=="bob","ville"]='tun'
print(df)

     nom  age  ville  salaire
0   John   25  Paris     5000
1    bob   30  Paris     2000
2  clara   22  Paris     5000
3  david   28  Paris     5000
    nom  age  ville  salaire
0  John   25  Paris     5000
1   bob   30  Paris     2000
la moyenne du salaire est :  4250.0
     nom  age  ville  salaire
0   John   25  Paris     5000
1    bob   30  Paris     2000
2  clara   22  Paris     5000
3  david   28  Paris     5000
nom        object
age         int64
ville      object
salaire     int64
dtype: object
les personnes qui ont un salaire >3500
     nom  age  ville  salaire
0   John   25  Paris     5000
2  clara   22  Paris     5000
3  david   28  Paris     5000
     nom  age  ville  salaire  prime
0   John   25  Paris     5000  250.0
1    bob   30  Paris     2000  100.0
2  clara   22  Paris     5000  250.0
3  david   28  Paris     5000  250.0
     nom  age  ville  salaire  prime
0   John   25  Paris     5000  250.0
1    bob   30    tun     2000  100.0
2  clara   22  Paris     5000  250.0
3  david   28  Paris     5000  250.0