In [1]:
import pandas as pd
import numpy as np

ax1=pd.read_csv("./ventes.csv")
print(ax1)
#Changer le nom des deux premiers champs respectivement par Ref  et Période
colo = ["Series_reference","Period","Data_value","STATUS","UNIT","Subjets","Group","Series_title_1"]
ax1.columns = colo
print("-----------------")
print(ax1)
#Supprimer le derniere colonne
ax1.drop(ax1.columns[-1], axis=1, inplace=True)
#Nettoyer les données en supprimant les valeurs NaN 
ax1.dropna(inplace=True)
#Effectuer un copie du DataFrame (avec ou sans élimination de redondances) et aire une copie vers un fichier nommé Formatte.CSV.
open("Formatte.csv", "w").close()
ax1.to_csv("Formatte.csv", index=False) 
#Sur la base de cette nouvelle copie supprimer à la fois les colonnes UNIT et Subjets 
ax1.drop(columns=['UNIT', 'Subjets'], inplace=True)
#Supprimer les lignes dont la valeur du champ STATUS est égale à ‘’FINAL’’
ax1.drop(ax1[ax1['STATUS'] == 'FINAL'].index, inplace=True)

   SR001  202001  100.0    FINAL  Dollars  Sales  G1  TitleA
0  SR002  202002  200.0     PROV  Dollars  Sales  G1  TitleB
1  SR003  202003    NaN    FINAL  Dollars  Sales  G1  TitleC
2  SR004  202004  150.0  REVISED  Dollars  Sales  G1  TitleD
-----------------
  Series_reference  Period  Data_value   STATUS     UNIT Subjets Group  \
0            SR002  202002       200.0     PROV  Dollars   Sales    G1
1            SR003  202003         NaN    FINAL  Dollars   Sales    G1
2            SR004  202004       150.0  REVISED  Dollars   Sales    G1

  Series_title_1
0         TitleB
1         TitleC
2         TitleD

In [2]:
ax2=pd.read_csv("./donnees_enquete_2003_television.csv")
#Supprimer les colonnes vides
ax2.dropna(axis=1, how='all', inplace=True)
#Obtenir les valeurs distinctes pour la colonne cLT2FREQ
ax2['cLT2FREQ'].unique()
#Modifier la matrice pour enlever les lignes pour lesquelles l’unité de temps (cLT2FREQ) n’est pas renseignée ou égale à zéro. 
ax2.drop(ax2[ax2['cLT2FREQ'].isnull() | (ax2['cLT2FREQ'] == 0)].index, inplace=True)
#Sauver le résultat au format Excel. 
ax2.to_excel("donnees_enquete_2003_television.xlsx", index=False)
print(ax2)

   POIDSLOG  POIDSF  cLT1FREQ  cLT2FREQ
0       1.5     2.0         5       1.0
1       2.2     1.8        10       2.0

In [ ]:


# Lire le fichier CSV
ex2 = pd.read_csv('Automobiles.csv')


print("Informations sur les données manquantes:")
print(ex2.isnull().sum())

ex2['horsepower'] = ex2['horsepower'].fillna(ex2['horsepower'].mean())
ex2['price'] = ex2['price'].replace(0, ex2['price'].mean())
ex2['average-mileage'] = ex2['average-mileage'].replace(0, ex2['average-mileage'].mean())

print("\nDonnées après traitement:")
print(ex2)

ex2.to_csv('Automobiles_cleaned.csv', index=False)

Informations sur les données manquantes:
index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          1
average-mileage     0
price               0
dtype: int64

Données après traitement:
   index company body-style  wheel-base  length engine-type num-of-cylinders  \
0      0  Toyota      Sedan        95.7   158.7        dohc             four
1      1     BMW  Hatchback       101.2   172.6         ohc              six
2      2    Audi      Sedan        99.5   180.0        ohcv             five
3      3  Toyota        SUV       100.0   170.0        dohc             four

   horsepower  average-mileage     price
0   97.000000             24.0  13495.00
1  111.000000             28.0  16430.00
2  104.333333             26.0  20000.00
3  105.000000             19.5  12481.25